@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Barlow Condensed', sans-serif;
}

html, body, #root {
  width: 100% !important;
  height: 100% !important;
}

@layer components {
  .default-bg {
    @apply bg-gradient-to-r from-fuchsia-500 to-cyan-500
  }
}